/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-dark-blue: #81B3D3;
    --basic-blue: #81B3D2;
    --basic-grey: #333333;
    --basic-dark-gray: #888888;
    --basic-light-grey: #CACACA;
    --basic-extra-grey: #F2F2F2;
    --basic-super-grey: #EEEEEE;
    --special-grey: #BDBBBC;
    --special-grey-number: #A9A9A9;
    --basic-brown: #766357;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown-active: #503E33;
    --special-brown-hover: #604E43;
    --special-grey-hover: #EBEBEB;
    --special-grey-border: #E5E5E5;
    --special-grey-range: #ABABAB;
    --special-brown: #666666;
    --special-brown-check: #6A6A6A;
    --special-white: rgba(255, 255, 255, 0.3);
    --special-black: rgba(0, 0, 0, 0.3);
    --special-shadow: rgba(0, 0, 0, 0.25);
    --modal-shadow: rgba(0, 1, 1, 0.15);
    --page-shadow: rgba(0, 1, 1, 0.2);
    --special-footer: rgba(255, 255, 255, 0.9);
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff"), url("../fonts/PTSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

.page-body {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
    box-shadow: 0px 5px 15px var(--page-shadow);
}

a {
    text-decoration: none;
}

img {
    -o-object-fit: contain;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Grid */

.page {
    height: 100%;
}

.main-navigation {
    margin: 0 auto;
}

.logo {
    margin-bottom: -15px;
}

.site-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0;
    margin: 0;
}

.site-navigation li {
    text-align: center;
    order: 4;
}

.site-navigation li:nth-child(1) {
    order: 1;
}

.site-navigation li:nth-child(2) {
    order: 2;
    padding-right: 21px;
}

.site-navigation li:nth-child(3) {
    order: 3;
}

.site-navigation li:nth-child(4) {
    padding-left: 38px;
}

.site-navigation li:nth-child(5) {
    padding-left: 18px;
}

.site-navigation li:not(:nth-child(3)) {
    padding-top: 15px;
}

.site-navigation,
.features-list,
.footer-social,
.filter-list,
.options,
.selection-list {
    list-style: none;
}

.site-navigation a:not([href]) {
    color: var(--basic-brown);
}

a.main-header-logo {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -14px;
    position: relative;
}

.main-header-logo img {
    display: block;
    margin: 0 auto;
}

.site-navigation a:not(.main-header-logo) {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
    text-shadow: var(--special-shadow);
}


/* Container */


/*index.html*/

.container-main {
    width: 1200px;
    margin: 0 0;
    padding: 0 0;
}

.background {
    margin-bottom: 42px;
    background-image: url(../img/background-end.svg), url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: bottom, center calc(100% - 1px);
    background-size: 101%, 100%;
}

.welcome {
    display: block;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 80px;
}

.background-end {
    margin-top: 15px;
}

.container-title {
    width: 470px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 47px;
}

.features-title {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 51px;
}

.feature-blue-one,
.feature-blue-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    width: 1200px;
}

.icon-feauters {
    align-items: center;
    margin-left: 163px;
    margin-top: 60px;
}

.icon-feauters.presents {
    margin-left: 170px;
    margin-top: 56px;
}

.feature-item p,
.feature-item-block-two {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.features-block-two {
    list-style: none;
    width: 1200px;
    margin: 0;
    padding: 0;
}

.feature-item p {
    padding: 0 51px;
    margin-bottom: 82px;
}

.feature-item-blue {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    width: 400px;
}

.feature-item-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 256px;
}

.feature-item-text {
    padding-top: 9px;
}

.feature-subtitle {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin: 18px 140px 25px;
    padding-top: 29px;
}

.feature-subtitle.blue-one,
.feature-subtitle.blue {
    padding-top: 29px;
}

.feature-subtitle.houses {
    padding-top: 1px;
}

.feature-subtitle.blue {
    margin: 22px 125px 24px;
}

.feature-item-block-two {
    background-color: var(--basic-super-grey);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -283px;
    width: 458px;
    background-color: var(--basic-white);
    padding: 55px;
    box-shadow: 0px 7px 15px var(--modal-shadow);
}

.modal.open {
    display: flex;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 21px;
    line-height: 26px;
    background: var(--basic-brown);
    color: var(--basic-white);
    text-align: center;
    padding: 24px 124px 30px 125px;
    margin-left: 316px;
    margin-right: 316px;
    margin-top: 44px;
}

.offer:hover {
    background: var(--special-brown-hover);
}

.offer:active {
    background: var(--special-brown-active);
    color: rgba(255, 255, 255, 0.3);
}

.appointment {
    background-color: var(--basic-white);
    padding-top: 17px;
}

.appointment-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 17px;
    padding-right: 6px;
}

.appointment-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
}

.appointment-list {
    width: 458px;
    list-style: none;
    background: var(--basic-white);
    padding: 0px;
    margin: 0px;
}

.appointment-item {
    font-size: 14px;
    line-height: 26px;
}

.appointment-item.arrival,
.appointment-item.departure {
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.appointment-item.departure {
    padding-top: 29px;
}

.appointment-item.people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.form-input {
    display: block;
    width: 338px;
    height: 32px;
    background-color: var(--basic-extra-grey);
    background-repeat: no-repeat;
    background-position: right 7px bottom 8px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    border: 0;
    outline: 0;
}

.form-input:hover {
    background-color: var(--special-grey-hover);
}

.form-input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--special-grey-border);
}

.form-input::-webkit-input-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-input::-moz-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-input:-ms-input-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.arrival-form {
    position: relative;
}

.calendar {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--special-grey-number)
}

.calendar:hover {
    fill: var(--basic-black);
}

.calendar:active {
    fill: var(--basic-blue);
}

.plus-minus {
    fill: var(--special-grey-number);
}

.plus-minus:hover {
    fill: var(--basic-black);
}

.plus-minus:active {
    fill: var(--basic-blue);
}

.people-box {
    display: flex;
    align-items: center;
}

.adults {
    margin-right: 40px;
}

.children {
    margin-right: 40px;
}

.button-number,
.input-number {
    background-color: var(--basic-extra-grey);
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.input-number {
    width: 36px;
}

.button-number {
    color: var(--special-grey-number)
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 114px;
    height: 38px;
    background-color: var(--basic-extra-grey);
}

.button-find {
    font-size: 21px;
    line-height: 26px;
    background: var(--basic-blue);
    color: var(--basic-white);
    padding: 16px 196px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
    cursor: pointer;
    border: none;
}

.button-find:hover {
    background: var(--special-blue-hover);
}

.button-find:active {
    background: var(--special-blue-active);
    color: var(--special-white);
}

.map img {
    display: block;
    width: 1200px;
}


/*footer*/

.main-footer.index {
    margin-top: -123px;
    box-shadow: 0px 4px 4px var(--special-shadow);
    position: relative;
    padding-bottom: 35px;
}

.main-footer {
    background-color: var(--special-footer);
}

.container-footer {
    padding-left: 137px;
    padding-right: 130px;
    padding-top: 32px;
}

.main-footer .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts a {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

section.footer-contacts {
    padding-left: 17px;
    padding-top: 6px;
}

.insta {
    padding-left: 15px;
}

.footer-social {
    width: 145px;
    justify-self: center;
    text-align: center;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 6px;
    column-gap: 6px;
    margin: 0;
    padding-right: 45px;
    padding-top: 10px;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.twitter-ic,
.fb-ic,
.yotube-ic {
    margin: auto;
}

.twitter {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}

.fb {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}

.yotube {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}

.social-button:hover {
    background-color: var(--special-blue-hover);
}

.social-button.social-button:active {
    background-color: var(--special-blue-active);
}

.social-button:active path {
    opacity: 0.3;
}

.footer-copyright {
    max-width: 204px;
    margin: 0;
    justify-self: end;
    padding-right: 12px;
    padding-top: 13px;
}

.copyright {
    fill: var(--basic-black);
}

.copyright:hover {
    fill: var(--basic-blue);
}

.copyright:active {
    fill: var(--special-grey);
}


/*catalog.html */

.container-Ñatalog {
    color: var(--basic-white);
}

.filter-services {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/background-catalog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
}

.filter-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-top: 26px;
    margin: 0;
    padding-left: 3px;
}

.filter,
.results,
.show-btn,
.selection-item,
.ratio {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.services {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    vertical-align: top;
    padding: 27px 10px 30px;
    padding-left: 26px;
}

.house {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.filter,
.results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter.one {
    padding-left: 41px;
}

.filter.two {
    padding-left: 75px;
}

.filter-title.infro {
    padding-left: 43px;
}

.filter-title.price {
    padding-left: 4px;
    cursor: pointer;
}

.filter-title.lodging {
    padding-left: 78px;
}

.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check label {
    position: relative;
    padding-left: 40px;
    opacity: 0.9;
}

.check label:hover,
.check-input:focus+label {
    opacity: 1;
}

.check:not(:last-child) {
    margin-bottom: 25px;
}

.check-input:checked+label .chek-list {
    background-image: url(../img/checkbox-on.svg);
}

.check-input:checked:disabled+label .chek-list {
    background-image: url(../img/checkbox-on-dis.svg);
}

.check-input:disabled+label .chek-list {
    background-image: url(../img/checkbox-off-dis.svg);
}

.chek-list {
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
    cursor: pointer;
}

.services {
    border: none;
}

.input-price-min,
.input-price-max,
.show-btn {
    font-weight: 400;
    background-color: transparent;
    color: var(--basic-white);
    text-align: center;
}

.show-btn {
    border: 2px solid var(--basic-white);
}

.input-price-min,
.input-price-max {
    width: 150px;
}

.input-price-holder {
    width: 317px;
    height: 36px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 72px;
    margin-top: 10px;
    border: 2px solid var(--basic-white);
    border-radius: 5px;
    position: relative;
}

.input-price-holder::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 2px;
    background: var(--basic-white);
    top: 7px;
    left: 158px;
}

.range-controls {
    position: relative;
    color: var(--basic-white);
    margin-top: 20px;
}

.range-controls .toggle {
    position: absolute;
    top: -11px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 248px;
}

.toggle svg:hover {
    transform: scale(1.38);
}

.range-controls .scale {
    width: 316px;
    height: 2px;
    background: var(--special-grey-range);
}

.range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--basic-white);
}

.show-btn {
    margin-top: auto;
    width: 137px;
    padding: 5px 35px 6px 36px;
    margin: 33px 90px;
    cursor: pointer;
}

.show-btn:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}

.ratio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--special-brown);
    width: 110px;
    height: 27px;
    padding: 0px 15px;
    background: var(--basic-extra-grey);
}

.star-rating {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.star-rating p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: auto;
    padding-right: 21px;
}

.search {
    padding-top: 6px;
}

.search-heading {
    margin-right: 46px;
}

.selection-title {
    margin-top: 5px;
}

.search-heading,
.selection-title,
.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.selection-item {
    color: var(--basic-grey);
    padding-bottom: 5px;
}

.search-sorting,
.options {
    font-size: 12px;
    line-height: 18px;
}

.search-sorting {
    margin-right: 40px;
    padding-bottom: 13px;
}

.sorting-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 73px;
    border-bottom: 1px solid var(--special-grey-border);
}

.options {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.options-price {
    color: var(--basic-blue);
    margin-right: 30px;
}

.options-type {
    margin-right: 32px;
}

.options-type,
.options-rating {
    color: var(--special-black);
    border-bottom: dashed 1px var(--basic-blue);
    opacity: 0.3;
}

.options-price:hover,
.options-type:hover,
.options-rating:hover {
    color: var(--basic-blue);
}

.options-price:active,
.options-type:active,
.options-rating:active {
    color: var(--basic-black);
    text-decoration: none;
}

.icon-dir {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-grow: 1;
    justify-content: flex-end;
    padding-top: 4px;
}

.icon-up-dir {
    fill: var(--basic-light-grey);
}

.icon-down-dir {
    fill: var(--basic-blue);
    padding-left: 12px;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
    fill: var(--basic-black);
}

.icon-up-dir:active,
.icon-down-dir:active {
    fill: var(--basic-blue);
}

.results {
    width: 1200px;
}

.results li {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-right: 58px;
    padding-bottom: 23px;
    padding-left: 73px;
    border-bottom: 1px solid var(--special-grey-border);
}

.results-hotel {
    margin-left: 29px;
}

.search-hotel {
    display: grid;
    grid-template-columns: 115px 142px;
    grid-template-rows: 38px 26px;
    align-items: end;
}

.selection-more {
    width: 110px;
}

.selection-reservation {
    width: 142px;
}

.selection-more,
.selection-reservation {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    color: var(--basic-white);
    padding: 3px 17px;
    text-transform: uppercase;
    border: none;
}

.selection-button {
    display: flex;
    gap: 6px;
}

.selection-more {
    background: var(--basic-blue);
    cursor: pointer;
}

.selection-more:hover {
    background: var(--special-blue-hover);
}

.selection-more:active {
    background: var(--special-blue-active);
    color: var(--special-white);
}

.selection-reservation {
    background: var(--basic-brown);
    cursor: pointer;
}

.selection-reservation:hover {
    background: var(--special-brown-hover);
}

.selection-reservation:active {
    background: var(--special-brown-active);
    color: var(--special-white);
}

.selection-title:hover {
    color: var(--basic-blue);
}

.selection-title:active {
    color: var(--special-black);
}
