:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-dark-blue: #81B3D3;
    --basic-blue: #81B3D2;
    --basic-grey: #333333;
    --basic-dark-gray: #888888;
    --basic-light-grey: #CACACA;
    --basic-extra-grey: #F2F2F2;
    --basic-super-grey: #EEEEEE;
    --special-grey: #BDBBBC;
    --special-grey-number: #A9A9A9;
    --basic-brown: #766357;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown-active: #503E33;
    --special-brown-hover: #604E43;
    --special-grey-hover: #EBEBEB;
    --special-brown: #666666;
    --special-brown-check: #6A6A6A;
    --special-white: rgba(255, 255, 255, 0.3);
    --special-black: rgba(0, 0, 0, 0.3);
    --special-shadow: rgba(0, 0, 0, 0.25);
}

body {
    min-width: 1200px;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}

.site-navigation,
.features-list,
.footer-social,
.filter-list,
.options,
.selection-list {
    list-style: none;
}

.site-navigation a:not([href]) {
    color: var(--basic-brown);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
    text-shadow: var(--special-shadow);
}

.container-title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.features-title {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.feature-item p,
.feature-item-block p,
.feature-item-block-2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.feature-subtitle {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.feature-item-block {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    text-align: center;
}

.feature-item-block img {
    background-color: var(--basic-blue);
}

.feature-item-block-2 {
    background-color: var(--basic-super-grey);
}

.appointment {
    background-color: var(--basic-white);
    width: 568px;
    height: 233px;
}

.appointment-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.appointment-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.offer {
    font-size: 21px;
    line-height: 26px;
    background: var(--basic-brown);
    color: var(--basic-white);
    text-align: center;
}

.offer:hover {
    background: var(--special-brown-hover);
}

.offer:active {
    background: var(--special-brown-active);
    color: rgba(255, 255, 255, 1);
}

.appointment-list {
    list-style: none;
    background: var(--basic-white);
}

.appointment-item {
    font-size: 14px;
    line-height: 26px;
}

.form-input {
    background-color: var(--basic-extra-grey);
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-black);
}

.form-input:hover {
    background-color: var(--special-grey-hover);
}

.form-input:focus {
    background-color: var(--basic-white);
}

.form-input::-webkit-input-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-input::-moz-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-input:-moz-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-input:-ms-input-placeholder {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.button-number,
.input-number {
    background-color: var(--basic-extra-grey);
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.button-number {
    color: var(--special-grey-number)
}

.buttons {
    background-color: var(--basic-extra-grey);
}

.button-find {
    font-size: 21px;
    line-height: 26px;
    background: var(--basic-blue);
    color: var(--basic-white);
    padding: 16px 181px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-find:hover {
    background: var(--special-blue-hover);
}

.button-find:active {
    background: var(--special-blue-active);
}

.modal {
    width: 568px;
    height: 395px;
    background: var(--basic-white);
}


/*footer*/

.footer-contacts p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.insta {
    color: var(--basic-black);
}

.footer-phone {
    color: inherit;
}

.copyright {
    fill: var(--basic-black);
}

.copyright:hover {
    fill: var(--basic-blue);
}

.copyright:active {
    fill: var(--special-grey);
}

.footer-social {
    text-align: center;
}

.twitter {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}

.fb {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}

.yotube {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
}


/*catalog.html */

.container-—Åatalog {
    color: var(--basic-white);
    background-image: url(../img/background-catalog.jpg);
}

.filter-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter,
.show-btn,
.selection-item,
.ratio {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.services {
    display: inline-block;
    vertical-align: top;
    padding: 27px 10px 30px;
    padding-left: 26px;
}

.filter {
    list-style-type: none;
    padding: 0;
}

.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check label {
    position: relative;
    padding-left: 40px;
    ;
}

.check:not(:last-child) {
    margin-bottom: 25px;
}

.infrastructure {
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
}

.check-input:checked+label .infrastructure {
    background-image: url(../img/checkbox-on.svg);
}

.services {
    border: none;
}

.input-price-min,
.input-price-max,
.show-btn {
    background: url(../img/background-catalog.jpg);
}

.range-controls {
    color: var(--basic-white);
}

.show-btn {
    border: 2px solid var(--basic-white);
}

.show-btn:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}

.ratio {
    color: var(--special-brown);
    width: 110px;
    height: 27px;
    padding: 3px 13px;
    margin-right: 72px;
    background: var(--basic-extra-grey);
}

.star {
    background-image: var(--basic-blue);
}

.search-heading,
.selection-title,
.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.selection-item {
    color: var(--basic-grey);
}

.search-sorting,
.options {
    font-size: 12px;
    line-height: 18px;
}

.options-price {
    color: var(--basic-blue);
}

.options-type,
.options-rating {
    color: var(--special-black);
    text-decoration: underline;
}

.options-price:hover,
.options-type:hover,
.options-rating:hover {
    color: var(--basic-blue);
    text-decoration: underline;
}

.options-price:active,
.options-type:active,
.options-rating:active {
    color: var(--basic-black);
    text-decoration: none;
}

.icon-up-dir {
    fill: var(--basic-light-grey);
}

.icon-down-dir {
    fill: var(--basic-blue);
}

.icon-up-dir:hover,
.icon-down-dir:hover {
    fill: var(--basic-black);
}

.icon-up-dir:active,
.icon-down-dir:active {
    fill: var(--basic-blue);
}

.selection-more,
.selection-reservation {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    color: var(--basic-white);
    padding: 3px 17px;
    text-transform: uppercase;
}

.selection-more {
    background: var(--basic-blue);
}

.selection-more:hover {
    background: var(--special-blue-hover);
}

.selection-more:active {
    background: var(--special-blue-active);
    color: var(--special-white);
}

.selection-reservation {
    background: var(--basic-brown);
}

.selection-reservation:hover {
    background: var(--special-brown-hover);
}

.selection-reservation:active {
    background: var(--special-brown-active);
    color: var(--special-white);
}

.selection-title:hover {
    color: var(--basic-blue);
}

.selection-title:active {
    color: var(--special-black);
}
